body {
    background-color: rgb(32, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(162, 0, 255);
    text-align: center;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    color: rgb(255, 238, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    color: rgb(124, 203, 255) ;
    width: 100px;
    text-align: center;
}
p {

    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a {
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img {
    width: 200px;
}
